In [1]:
import pandas as pd
import numpy as np
# import keras

In [5]:
train = pd.read_csv("Data/train.csv")
test = pd.read_csv("Data/test.csv")

In [6]:
train
test

      index      송하인_격자공간고유번호      수하인_격자공간고유번호      물품_카테고리
0         0  4167000577042200  5011000435014100          선케어
1         1  1156000009012200  5011000172034400       구강위생용품
2         2  4122000363057300  5011000361097300           캠핑
3         3  5011000436041400  2826000084036400       아웃도어가구
4         4  4150000241065200  5011000169044300  분유/이유식/아기간식
...     ...               ...               ...          ...
7915   7915  5011000266051200  4623000417038100          농산물
7916   7916  1154500001098300  5011000264055100        문화컨텐츠
7917   7917  5013000610049100  1147000018091400          농산물
7918   7918  5013000610049100  3117000039026100          농산물
7919   7919  1165000014095200  5011000373086400        문화컨텐츠

[7920 rows x 4 columns]

In [7]:
col_name = ['Index', 'SEND_NUM', "REC_NUM", 'Category', 'NUM']

In [9]:
train.columns = col_name
train

       Index          SEND_NUM           REC_NUM Category  NUM
0          0  5011000595017300  2871000192069300       음반    3
1          1  4148000690043300  5011000264024400    문화컨텐츠    3
2          2  5011000078068400  1120000007005400      농산물    3
3          3  4127100048006400  5011000587019400     기타식품    7
4          4  5011000078068400  2823700010076300      농산물    3
...      ...               ...               ...      ...  ...
31679  31679  4471000290087200  5011000213073200    스포츠잡화    3
31680  31680  1129000014045300  5011000319087100  스마트디바이스    4
31681  31681  1129000014045300  5011000263065200  스마트디바이스    6
31682  31682  4127300065073100  5011000264061200       지갑    7
31683  31683  2811000139076100  5011000520070100     세탁용품    4

[31684 rows x 5 columns]

In [10]:
test.columns = col_name[:np.shape(test)[1]]
test

      Index          SEND_NUM           REC_NUM     Category
0         0  4167000577042200  5011000435014100          선케어
1         1  1156000009012200  5011000172034400       구강위생용품
2         2  4122000363057300  5011000361097300           캠핑
3         3  5011000436041400  2826000084036400       아웃도어가구
4         4  4150000241065200  5011000169044300  분유/이유식/아기간식
...     ...               ...               ...          ...
7915   7915  5011000266051200  4623000417038100          농산물
7916   7916  1154500001098300  5011000264055100        문화컨텐츠
7917   7917  5013000610049100  1147000018091400          농산물
7918   7918  5013000610049100  3117000039026100          농산물
7919   7919  1165000014095200  5011000373086400        문화컨텐츠

[7920 rows x 4 columns]

In [12]:
train.describe()

              Index      SEND_NUM       REC_NUM           NUM
count  31684.000000  3.168400e+04  3.168400e+04  31684.000000
mean   15841.500000  4.648814e+15  3.801369e+15      4.879308
std     9146.527301  8.341336e+14  1.314660e+15      6.756473
min        0.000000  1.111000e+15  1.111000e+15      3.000000
25%     7920.750000  4.713000e+15  2.826000e+15      3.000000
50%    15841.500000  5.011000e+15  4.159000e+15      3.000000
75%    23762.250000  5.013001e+15  5.011000e+15      5.000000
max    31683.000000  5.013001e+15  5.013001e+15    413.000000

In [13]:
test.describe()

             Index      SEND_NUM       REC_NUM
count  7920.000000  7.920000e+03  7.920000e+03
mean   3959.500000  4.637194e+15  3.807972e+15
std    2286.451399  8.524477e+14  1.321640e+15
min       0.000000  1.111000e+15  1.111000e+15
25%    1979.750000  4.579000e+15  2.826000e+15
50%    3959.500000  5.011000e+15  4.159001e+15
75%    5939.250000  5.013001e+15  5.011000e+15
max    7919.000000  5.013001e+15  5.013001e+15

Send 갯수

In [26]:
print('SEND(Train):',len(np.unique(train.SEND_NUM)))
print('SEND(Test):',len(np.unique(test.SEND_NUM)))
print("SEND(Train+Test):" ,len(np.unique(np.concatenate((train.SEND_NUM, test.SEND_NUM)))))

SEND(Train): 4229
SEND(Test): 1812
SEND(Train+Test): 4808

REC 갯수

In [27]:
print('REC(Train):',len(np.unique(train.REC_NUM)))
print('REC(Test):',len(np.unique(test.REC_NUM)))
print("REC(Train+Test):" ,len(np.unique(np.concatenate((train.REC_NUM, test.REC_NUM)))))

REC(Train): 26875
REC(Test): 7453
REC(Train+Test): 32712